@CHARSET "UTF-8";

.view-thongtin {
	width: 982px;
	height: 400px;
	margin: auto;
	background-color: white;
	text-align: center;
}

.view-thongtin h1 {
	padding-top: 30px;
	text-align: center;
	color: orange;
}

table {
	text-align: left;
	padding-left: 350px;
}