@CHARSET "UTF-8";

.imageProduct {
	margin-left: 7px;
	float: left;
	width: 380px;
	height: 432px;
	border: 1px solid #cec6ce;
	border-radius: 15px;
}

.product {
	width: 371px;
	height: 432px;
	float: left;
	background-color: white;
	border: 1px solid #cec6ce;
	border-radius: 15px;
}

.thongtin {
	width: 101px;
	height: 180px;
	float: left;
	background-color: white;
	font-size: 12px;
	font-style: consolas;
	padding-left: 10px;
	margin-top: 20px;
}

.gia {
	float: left;
	color: red;
	font-size: 20px;
	font-style: consolas;
	padding-top: 10px;
	width: 258px;
	margin-top: 20px;
}

.sp {
	float: left;
	font-size: 12px;
	font-style: consolas;
	width: 258px;
	padding-top: 15px;
}

#masp {
	padding-top: 11px;
}

.muahang {
	clear: both;
	width: 329px;
	height: 147px;
	background-color: #e8e3e8;
	margin-left: 10px;
	border: 1px solid #cec6ce;
	border-radius: 5px;
	font-size: 14px;
	font-style: consolas;
	padding-left: 20px;
}

.muangay, .muatragop {
	width: 120px;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-left: 10px;
	font-size: 18px;
	text-align: center;
	color: #dbdfdd;
	border-radius: 8px;
	cursor: pointer;
	cursor: hand;
}

.muangay {
	background-color: red;
}

.muatragop {
	background-color: orange;
}

.infoProduct {
	width: 762px;
	float: left;
	background-color: white;
	font-size: 13px;
	font-style: consolas;
}

img {
	display: block;
	margin: auto;
}

b {
	color: red;
	font-size: 14px;
}

.main {
	width: 100%;
	height: 30px;
	background-color: #cec6ce;
	clear:both;
}

.info {
	height: 30px;
	font-size: 16px;
	float: left;
	margin-left: 7px;
	background-color: #1de2d9;
	color: black;
	line-height: 30px;
	border-radius: 5px;
	cursor: pointer;
	cursor: hand;
}

.info:hover {
	color: red;
}

.displayCH, .displayGT{
	width:755px;
	float:left;
	background-color: white;
	border-radius:10px;
	margin-left: 7px;
}

.displayCH td{
	height: 30px;
	border-bottom: 1px solid black;
	padding-right: 30px;
}

.displayGT{
	display: none;
}